@{
    ViewData["Title"] = "Home";
}
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
}



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
</head>
<main class="main-content">
<section class="hero-section">
    <div class="hero-container">
        <div class="hero-content">
            <h1 class="hero-title">Приєднуйся до волонтерства!</h1>
            <div class="hero-text">
                Шукаєш можливості приєднатися до волонтерства? 
                Вони усі тут!
                Дізнайся, як ти можеш допомогти іншим та змінити світ на краще.
                Ти можеш стати частиною великої справи вже сьогодні — зроби перший крок!
                
            </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Profile", "User")" class="hero-button">
                        До волонтерства
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Guest", "User")" class="hero-button">
                        До волонтерства
                    </a>
                }
        </div>
    </div>
</section>



    <section class="events-section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Доступні події</h2>
                <p class="section-subtitle">Знайдіть можливість допомогти прямо зараз</p>
            </div>
            <div class="events-grid">
                @foreach (var eventItem in Model)
                {
                    <partial name="_EventCardsPartial" model="eventItem" />
                }
            </div>
        </div>
    </section>


</main>




